<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="ss-list-group-item.html"/>

<polymer-element name="ss-list-group" attributes="items selectNext selectPrev">
    <template>

        <!--STYLING / CSS-->
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">

        <!--SEMANTICS-->
        <ul id="listGroup" class="list-group">
            <template repeat="{{item in items}}">
                <ss-list-group-item type="{{item.type}}" selected="{{item.selected}}">
                    {{item.text}}
                </ss-list-group-item>
            </template>
        </ul>

    </template>
    <script src="../../bower_components/lodash/dist/lodash.min.js"></script>
    <script>
        (function () {

            function _setNextIndex() {
                var i = this.selectedindex;
                var ic = this.items.length;
                if (i < ic - 1)
                    this.selectedindex++;
                else
                    this.selectedindex = 0;

                return {
                    oldIndex: i,
                    newIndex: this.selectedindex
                }
            }

            function _setPrevIndex() {
                var i = this.selectedindex;
                var ic = this.items.length;
                if (i > 0)
                    this.selectedindex--;
                else
                    this.selectedindex = ic - 1;

                return {
                    oldIndex: i,
                    newIndex: this.selectedindex
                }
            }

            Polymer({
                publish: {
                    selectedindex: {
                        value: null,
                        reflect: true
                    },
                    selecteditem: {
                        value: null,
                        reflect: true
                    }
                },
                created: function () {
                    this.selectedColorLightenDarkenAmount = 25;
                },
                domReady: function () {
                    if (this.selectedindex !== null) {
                        var selectedItem = this.items[this.selectedindex];
                        selectedItem.selected = true;
                        this.selecteditem = selectedItem;
                    }
                },
                selectNext: function () {
                    if (this.selectedindex === null) return;
                    var result = _setNextIndex.call(this);
                    this.items[result.oldIndex].selected = false;
                    var selectedItem = this.items[result.newIndex];
                    selectedItem.selected = true;
                    this.selecteditem = selectedItem;
                },
                selectPrev: function () {
                    if (this.selectedindex === null) return;
                    var result = _setPrevIndex.call(this);
                    this.items[result.oldIndex].selected = false;
                    var selectedItem = this.items[result.newIndex];
                    selectedItem.selected = true;
                    this.selecteditem = selectedItem;
                },
                selectedindexChanged: function () {
                    
                }
            });
        }());
    </script>
</polymer-element>