<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../bower_components/polymer-keydown/polymer-keydown.html"/>
<link rel="import" href="../listgroup/ss-list-group.html"/>

<polymer-element name="ss-typeahead" attributes="items placeholder jump-to-last-occurrence-of">
    <template>

        <!--STYLING / CSS-->
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <style>
            #listGroup {
                position: absolute;
                z-index: 99999;
            }
        </style>

        <!--SEMANTICS-->
        <input id="inputField" type="text" class="form-control"
               placeholder="{{placeholder}}" value="{{text}}">
        <ss-list-group id="listGroup" items="{{items}}" selecteditem="{{tabCompleteItem}}" filtertext="{{text | parseFilterText}}" navigable="true" hidden?="{{hideSuggestions}}"></ss-list-group>

        <!--TAB-->
        <polymer-keydown code="9" on-keydown="{{autoComplete}}"></polymer-keydown>
        <!--ENTER-->
        <polymer-keydown code="13" on-keydown="{{autoComplete}}"></polymer-keydown>
        <!--ARROW DOWN-->
        <polymer-keydown code="40" on-keydown="{{nextSuggestion}}"></polymer-keydown>
        <!--ARROW UP-->
        <polymer-keydown code="38" on-keydown="{{previousSuggestion}}"></polymer-keydown>

    </template>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script>
        (function ($) {
            // The Polymer component
            var component;

            // get the width of a text
            $.fn.textWidth = function () {
                $body = $('body');
                $this = $(this);
                $text = $this.text();
                if ($text == '') $text = $this.val();
                var calc = '<div style="clear:both;display:block;visibility:hidden;"><span style="width;inherit;margin:0;font-family:' + $this.css('font-family') + ';font-size:' + $this.css('font-size') + ';font-weight:' + $this.css('font-weight') + '">' + $text + '</span></div>';
                $body.append(calc);
                var width = $('body').find('span:last').width();
                $body.find('span:last').parent().remove();
                return width;
            };

            // get the string to the right of the last match
            function _strRightBack(str, exp) {
                var index = str.lastIndexOf(exp);
                str = index > -1 ? str.slice(index + 1, str.length) : str;
                return str;
            }

            // get the string to the left og the last match
            function _strLeftBack(str, exp) {
                var index = str.lastIndexOf(exp);
                str = index > -1 ? str.slice(0, index + 1) : str;
                return str;
            }

            function _contains(list, exp) {
                return list.indexOf(exp) > -1;
            }

            function _moveDropDownToLastOccurenceOf(self, str) {
                var char = self['jump-to-last-occurrence-of'];
                var listGroup = self.$.listGroup;
                var lastIndex = str.lastIndexOf(char);
                var parentLeftMargin = 15;

                // If new value, char and last index of char is greater then zero
                if (str && char && lastIndex > 0) {

                    // Get the string from start to the last occurrence of char,
                    // then get the width of that string.
                    str = str.slice(0, lastIndex);
                    var input = $(self.$.inputField);
                    input.text(str);
                    var textWidth = input.textWidth();

                    // Set left pos for the list group to text width + margin of parent
                    //TODO: get the left margin of parent dynamically
                    listGroup.style.left = textWidth + parentLeftMargin + 'px';
                } else {
                    listGroup.style.left = parentLeftMargin + 'px';
                }
            }

            Polymer({
                publish: {
                    text: {
                        value: '',
                        reflect: true
                    }
                },
                created: function () {
                    component = this;
                    component.hideSuggestions = true;
                    component['jump-to-last-occurrence-of'] = component['jump-to-last-occurrence-of'] || '';
                },
                ready: function () {
                    var input = component.$.inputField;

                    input.addEventListener('focus', function () {
                        component.hideSuggestions = false;
                    });
                    input.addEventListener('blur', function () {
                        component.hideSuggestions = true;
                    });
                },
                domReady: function () {
                    component.$.listGroup.selectIndex(0);
                },
                textChanged: function (oldText, newText) {
                    // If new and old text is the same then return.
                    if (oldText === newText) return;
                    _moveDropDownToLastOccurenceOf(component, newText);
                },
                parseFilterText: function(text) {
                    if (typeof text !== 'string' || text === '') return '';
                    // If jump-to-last-occurrence-of char is set,
                    // then only match with the text to the right of the last occurrence of that char.
                    // Otherwise match with the whole text.
                    var char = component['jump-to-last-occurrence-of'];
                    return char ? _strRightBack(text, char) : text;
                },
                autoComplete: function (e) {
                    if (component.hideSuggestions) return;
                    e.detail.originalEvent.preventDefault();

                    var char = component['jump-to-last-occurrence-of'];
                    var baseText = char ? _strLeftBack(component.text, char) : component.text;
                    component.text = _contains(baseText, char) ? baseText + component.tabCompleteItem.text : component.tabCompleteItem.text;

                    component.$.listGroup.selectIndex(0);
                },
                nextSuggestion: function (e) {
                    if (component.hideSuggestions) return;
                    e.detail.originalEvent.preventDefault();

                    component.$.listGroup.selectNext();
                },
                previousSuggestion: function (e) {
                    if (component.hideSuggestions) return;
                    e.detail.originalEvent.preventDefault();

                    component.$.listGroup.selectPrev();
                }
            });

        }(jQuery));
    </script>
</polymer-element>