<link rel="import" href="../../bower_components/polymer/polymer.html"/>
<link rel="import" href="../../bower_components/polymer-keydown/polymer-keydown.html"/>
<link rel="import" href="../listgroup/ss-list-group.html"/>

<polymer-element name="ss-typeahead" attributes="items placeholder jump-to-last-occurrence-of">
    <template>

        <!--STYLING / CSS-->
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <style>
            ss-list-group {
                position: absolute;
                z-index: 99999;
            }
        </style>

        <!--SEMANTICS-->
        <input id="inputField" type="text" class="form-control"
               placeholder="{{placeholder}}" value="{{text}}">
        <ss-list-group id="listGroup" items="{{items | filterItems(text)}}" selectedindex="{{tabCompleteIndex}}" selecteditem="{{tabCompleteItem}}" hidden?="{{hideSuggestions}}"></ss-list-group>

        <!--TAB-->
        <polymer-keydown code="9" on-keydown="{{autoComplete}}"></polymer-keydown>
        <!--ENTER-->
        <polymer-keydown code="13" on-keydown="{{autoComplete}}"></polymer-keydown>
        <!--ARROW DOWN-->
        <polymer-keydown code="40" on-keydown="{{nextSuggestion}}"></polymer-keydown>
        <!--ARROW UP-->
        <polymer-keydown code="38" on-keydown="{{previousSuggestion}}"></polymer-keydown>

    </template>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/lodash/dist/lodash.min.js"></script>
    <script>
        (function ($) {

            // get the width of a text
            $.fn.textWidth = function () {
                $body = $('body');
                $this = $(this);
                $text = $this.text();
                if ($text == '') $text = $this.val();
                var calc = '<div style="clear:both;display:block;visibility:hidden;"><span style="width;inherit;margin:0;font-family:' + $this.css('font-family') + ';font-size:' + $this.css('font-size') + ';font-weight:' + $this.css('font-weight') + '">' + $text + '</span></div>';
                $body.append(calc);
                var width = $('body').find('span:last').width();
                $body.find('span:last').parent().remove();
                return width;
            };

            // get the string to the right of the last match
            function _strRightBack(str, exp) {
                var index = str.lastIndexOf(exp);
                str = index > -1 ? str.slice(index + 1, str.length) : str;
                return str;
            }

            // get the string to the left og the last match
            function _strLeftBack(str, exp) {
                var index = str.lastIndexOf(exp);
                str = index > -1 ? str.slice(0, index) : str;
                return str;
            }

            function _moveDropDownToLastOccurenceOf(self, newVal) {
                var char = self['jump-to-last-occurrence-of'];
                var listGroup = self.$.listGroup;
                var lastIndex = newVal.lastIndexOf(char);
                var parentLeftMargin = 15;

                // If new value, char and last index of char is greater then zero
                if (newVal && char && lastIndex > 0) {

                    // Get the string from start to the last occurrence of char,
                    // then get the width of that string.
                    newVal = newVal.slice(0, lastIndex);
                    var input = $(self.$.inputField);
                    input.text(newVal);
                    var textWidth = input.textWidth();

                    // Set left pos for the list group to text width + margin of parent
                    //TODO: get the left margin of parent dynamically
                    listGroup.style.left = textWidth + parentLeftMargin + 'px';
                } else {
                    listGroup.style.left = parentLeftMargin + 'px';
                }
            }

            Polymer({
                publish: {
                    text: {
                        value: '',
                        reflect: true
                    }
                },
                created: function () {
                    this.tabCompleteIndex = 0;
                    this.hideSuggestions = true;
                    this['jump-to-last-occurrence-of'] = this['jump-to-last-occurrence-of'] || '';
                },
                ready: function () {
                    var self = this;
                    var input = self.$.inputField;

                    // Sometimes the {{items}} passed in is a JSON string and not an Array Object,
                    // in those cases we just parse it as JSON to make it an Array Object.
                    self.items = typeof self.items === 'string' ? JSON.parse(self.items) : self.items || [];

                    input.addEventListener('focus', function () {
                        self.hideSuggestions = false;
                    });
                    input.addEventListener('blur', function () {
                        self.hideSuggestions = true;
                    });
                },
                textChanged: function (oldVal, newVal) {
                    // If new and old value is the same then return.
                    if (newVal === oldVal) return;
                    _moveDropDownToLastOccurenceOf(this, newVal);
                },
                filterItems: function (values, text) {
                    // If text is not set then just return the values.
                    if (!text) return values;

                    // If jump-to-last-occurrence-of char is set,
                    // then only match with the text to the right of the last occurrence of that char.
                    // Otherwise match with the whole text.
                    var char = this['jump-to-last-occurrence-of'];
                    text = char ? _strRightBack(text, char) : text;

                    // Filter values
                    return _.filter(values, function (value) {
                        // If its an exact match we don't want to show that one as a suggestion.
                        return value.text === text ? false : _.contains(value.text, text);
                    });
                },
                autoComplete: function (e) {
                    if (this.hideSuggestions) return;

                    var char = this['jump-to-last-occurrence-of'];
                    var baseText = char ? _strLeftBack(this.text, char) : this.text;
                    this.text = char ? baseText + char + this.tabCompleteItem.text : baseText + this.tabCompleteItem.text;

                    this.tabCompleteItem.selected = false;
                    this.tabCompleteIndex = 0;
                    this.tabCompleteItem.selected = true;
                    e.detail.originalEvent.preventDefault();
                },
                nextSuggestion: function () {
                    if (this.hideSuggestions) return;
                    this.$.listGroup.selectNext();
                },
                previousSuggestion: function () {
                    if (this.hideSuggestions) return;
                    this.$.listGroup.selectPrev();
                }
            });

        }(jQuery));
    </script>
</polymer-element>