<link rel="import" href="../../bower_components/polymer/polymer.html"/>

<polymer-element name="ss-scheduler">
    <template>

        <!--STYLING / CSS-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <style>

        </style>

        <!--SEMANTICS-->
        <div class="form-inline">

            <!--EVERY-->
            <div class="form-group">
                <label for="every">Every</label>
                <select class="form-control" id="every" selectedIndex="{{selectedEvery}}">
                    <option value="0">Minute</option>
                    <option value="1">Hour</option>
                    <option value="2">Day</option>
                    <option value="3">Week</option>
                    <option value="4">Month</option>
                    <option value="5">Year</option>
                </select>
            </div>

            <div class="form-group" id="month-and-day" hidden?="{{hideMonthAndDay}}">
                <select class="form-control" id="month" selectedIndex="{{selectedMonth}}" on-change="{{onMonthChanged}}">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select class="form-control" id="day" selectedIndex="{{selectedDay}}">
                    <template repeat="{{d in days}}">
                        <option value="{{d}}">{{d}}</option>
                    </template>
                </select>
            </div>

            <div class="form-group" hidden?="{{hideHourAndMinute}}">
                <select class="form-control" id="hour" selectedIndex="{{selectedHour}}">
                    <template repeat="{{h in hours}}">
                        <option value="{{h}}">{{h}}</option>
                    </template>
                </select>
                <select class="form-control" id="minute" selectedIndex="{{selectedMinute}}">
                    <template repeat="{{m in minutes}}">
                        <option value="{{m}}">{{m}}</option>
                    </template>
                </select>
            </div>

        </div>

    </template>

    <!--EXTERNAL JS-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>

        var daysInEachMonth = {
            1: 31,
            2: 28,
            3: 31,
            4: 30,
            5: 31,
            6: 30,
            7: 31,
            8: 31,
            9: 30,
            10: 31,
            11: 30,
            12: 31
        };

        function generateDaysOptions(count) {
            var days = [];
            for (var i = 1; i <= daysInEachMonth[count]; i++) {
                days.push(i);
            }
            return days;
        }

        function generateRange(count) {
            var list = [];
            for (var i = 0; i < count; i++) {
                list.push(i);
            }
            return list;
        }

        Polymer({
            created: function () {

                this.days = generateDaysOptions(1);
                this.hours = generateRange(24);
                this.minutes = generateRange(60);

                this.selectedEvery = 5;
                this.selectedMonth = 0;
                this.selectedDay = 0;
                this.selectedHour = 0;
                this.selectedMinute = 0;

            },
            observe: {
                selectedEvery: function (o,n) {
                    switch (n)
                    {
                        case 0:
                            this.hideHourAndMinute = true;
                            this.hideMonthAndDay = true;
                            this.hideWeek = true;
                            break;
                        case 1:
                            this.hideHourAndMinute = true;
                            this.hideMonthAndDay = true;
                            this.hideWeek = true;
                            break;
                        case 2:
                            this.hideHourAndMinute = false;
                            this.hideMonthAndDay = true;
                            this.hideWeek = true;
                            break;
                        case 3:
                            this.hideHourAndMinute = false;
                            this.hideMonthAndDay = false;
                            this.hideWeek = true;
                            break;
                        case 4:
                            this.hideHourAndMinute = false;
                            this.hideMonthAndDay = false;
                            this.hideWeek = false;
                            break;
                        case 5:
                            this.hideHourAndMinute = false;
                            this.hideMonthAndDay = false;
                            this.hideWeek = false;
                            break;
                    }
                }
            },
            onMonthChanged: function (e, detail, sender) {
                this.days = generateDaysOptions(this.selectedMonth+1);
            }
        });

    </script>

</polymer-element>